body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url(blogAssest/food.jpg);
}

.meal-plan-container {
    margin-top: 100px;
    margin-left: 500px;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8; 
}

h1, h2 {
    color: #333;
}

.day {
    margin-bottom: 20px;
}

.toggle-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.meals {
    display: none;
    margin-top: 10px;
}

.meals ul {
    list-style-type: none;
    padding: 0;
}

.meals li {
    background: #e9ecef;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
